// Default Theme
.theme-default {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  background-color: #212529;
}

.theme-dark {
  --primary-color: #f8e583;
  --secondary-color: #ff9182;
  --success-color: #7dc284;
  --danger-color: #c77079;
  --warning-color: #ffc107;
  --info-color: #98c3f5;
  --light-color: #212529;
  --dark-color: #f8f9fa;
  
  background-color: #212529;
  color: #f0f0f0;
}