form {
  font-size: 1.3rem;

  div {
    margin: var(--spacing-xs) 0;
  }

  label {
    display: block;
  }

  input {
    transition: border-color 0.3s ease;
    border: 1px solid transparent;
    outline: none;
    color: var(--dark-color);
    background: var(--tertiary-color);
    padding: 8px;

    &:focus {
      border-color: var(--dark-color);
    }
  }
}