table {
  border-collapse: collapse;
}

tr {
  &:nth-child(2n) {
    background: var(--tertiary-color);
    color: var(--dark-color);
  }
}

th, td {
  text-align: left;
  padding: var(--spacing-md);
}